.search-bar {
  width: auto;
}

.header {
  padding: 0px 10%;
}

.search-bar {
  width: 80%;
}

.add-button {
  width: 30px;
  height: 30px;
}

.todo-list {
  padding-inline-start: 0px;
}

.todo-item {
  margin: 10px;
  background-color: #aaaaaa;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.todo-ready {
  text-decoration: line-through;
}

.clickable-item {
  cursor: pointer;
}
